<section class="view introduction">
    <header class="view-header">
        <div class="button-wrapper">
            <button class="button success large emphasize" data-bind="click: start"><span class="button-text" data-translate-text="[start pre-assessment]">Start pre-assessment</span></button>
        </div>
    </header>

    <div class="content container container-content-wrapper">
        <!-- ko foreach: introduction -->
            <!-- ko ifnot: children.length -->
                <li data-bind="contentBlock: content, wrapElements: content" class="introduction-item styled-content"></li>
            <!-- /ko -->
            <!-- ko if: children.length -->
                <li class="introduction-item expandable-block-wrapper" data-bind="compose: { model:'viewmodels/expandableBlock', activationData: $data }"></li>
            <!-- /ko -->
        <!-- /ko -->
    </div>

</section>
