<div>
    <!-- ko if: questionInstructions().length > 0 -->
    <div class="question-content">
        <div>
            <!-- ko foreach: questionInstructions -->
            <div class="styled-content" data-bind="contentBlock: $data "></div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <div class="scenario-question-container">
        <div class="scenario-question" data-bind="html: embedCode"></div>
        <!-- ko if: isAnswered -->
        <div class="scenario-question-overlay">
            <div class="scenario-question-overlay-container">
                <span class="scenario-question-overlay-text" data-translate-text="[scenario has been submitted]" data-translate-title="[scenario has been submitted]"></span>    
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
