<section>
    <!-- ko if: questionInstructions().length > 0 -->
    <div class="question-content">
        <div>
            <!-- ko foreach: questionInstructions -->
            <!-- ko ifnot: children.length -->
            <div class="styled-content" data-bind="contentBlock: content"></div>
            <!-- /ko -->
            <!-- ko if: children.length -->
            <div class="expandable-block-wrapper" data-bind="compose: { model:'viewmodels/expandableBlock', activationData: $data }"></div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isSurveyMode -->
    <div class="text-matching-caption" data-translate-text="[survey mode caption]"></div>
    <!-- /ko -->
    <div>
        <ul class="unstyled">
            <!-- ko foreach: options -->
            <li>
                <label class="checkbox" data-bind="click: toggleCheck, css: { checked: checked }">
                    <span class="checkbox-icon-wrapper">
                        <span class="checkbox-icon"></span>
                    </span>
                    <label class="checkbox-text" data-bind="text: text"></label>
                </label>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</section>