<section class="ranking-text">

    <!-- ko if: questionInstructions().length > 0 -->
    <div class="question-content">
        <div>
            <!-- ko foreach: questionInstructions -->
            <!-- ko ifnot: children.length -->
            <div class="styled-content" data-bind="contentBlock: content"></div>
            <!-- /ko -->
            <!-- ko if: children.length -->
            <div class="expandable-block-wrapper" data-bind="compose: { model:'viewmodels/expandableBlock', activationData: $data }"></div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <div data-bind="dragula: { data: rankingItems, afterDrop: markDirty }" class="gu-unselectable">
        <div class="ranking-item gu-draggable" data-bind="preventDefaultTouchEvent: true">
            <span class="ranking-item-icon"></span>
            <span class="ranking-item-text" data-bind="text: text"></span>
        </div>
    </div>
</section>