<section class="singleselectimage">

    <!-- ko if: questionInstructions().length > 0 -->
    <div class="question-content">
        <div>
            <!-- ko foreach: questionInstructions -->
            <!-- ko ifnot: children.length -->
            <div class="styled-content" data-bind="contentBlock: content"></div>
            <!-- /ko -->
            <!-- ko if: children.length -->
            <div class="expandable-block-wrapper" data-bind="compose: { model:'viewmodels/expandableBlock', activationData: $data }"></div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <ul>
        <!-- ko foreach: options -->
        <li class="radio image" data-bind="click: $parent.selectOption, css: { checked: $data == $parent.selectedOption() }">
            <div class="radio-image-wrapper" data-bind="thumbnail: image"></div>
            
        </li>
        <!-- /ko -->
    </ul>

</section>