<section class="summary view" data-bind="css: { 'disabled': isClosing() || isClosed() }, blockBodyScroll: resultsResendDialog.isVisible()">
    <header class="view-header">
        <div class="course-progress" data-bind="progress: progress">
        </div>
        <div class="header-progress-text" data-bind="text:progress+'%'"></div>
        <h2 data-translate-text="[overall progress]">Overall progress</h2>
        <button class="button finish close-course" data-bind="click: close, css: { 'disabled': isClosing() || isClosed() }">
            <!-- ko if: isSendingResults -->
            <span class="operation-progress white"></span>
            <span>&nbsp;</span>
            <!-- /ko -->
            <!-- ko ifnot: isSendingResults -->
            <span data-translate-text="[close course]"></span>
            <!-- /ko -->
        </button>
    </header>
    <div class="container-content-wrapper">
        <div class="content container">
            <div class="summary-title">
                <span data-translate-text="[learning objective]">Learning objectives</span>
            </div>
            <ul class="unstyled" data-bind="foreach: sections">
                <li class="section">
                    <div class="section-title">
                        <span data-bind="text: title"></span>
                    </div>
                    <div class="empty-div "></div>
                    <div class="section-progress">
                        <div class="circle-canvas-wrapper" data-bind="circleProgress: score">
                            <div data-bind=" text:score+'%'"></div>
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- ko if: isClosing() || isClosed() -->
    <div class="loader-wrapper">
        <div class="loader" data-bind="visible: !isClosed()"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: isSendingResults -->
    <div class="finish-course-layout">
        <div class="block-overlay"></div>
        <div class="message-wrapper">
            <span class="text operation-progress" data-translate-text="[tracking and tracing reporting progress]">Reporting progress...</span>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: resultsResendDialog.isVisible -->
    <!-- ko compose: { view: 'dialogs/resultsResend/resultsResend', model: 'dialogs/resultsResend/resultsResend', compositionComplete: resultsResendDialog.compositionComplete, activationData: { close: resultsResendDialog.hide, callbacks: resultsResendDialog.callbacks, resultsSendErrorTitleKey: resultsResendDialog.resultsSendErrorTitleKey, endpointNameKey: resultsResendDialog.endpointNameKey }} -->
    <!-- /ko -->
    <!-- /ko -->
</section>
